.hero {
    background-image: url('../Assets/Porsche/Panamera_hero_phone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    color: var(--color-white);
    text-shadow: 0px 0px 20px var(--color-black);
    text-transform: uppercase;
    font-size: clamp(6.5rem, -0.7602rem + 20vw, 12.5rem);
    line-height: clamp(6.5rem, -0.7602rem + 20vw, 12.5rem);
}

.heading-2 {
    color: var(--color-red);
    font-size: clamp(2rem, 0.6893rem + 5.5922vw, 7.4rem);
    font-weight: 600;
    line-height: clamp(2rem, 0.6893rem + 5.5922vw, 7.4rem);;
    text-align: center;
}

.blur-container {
    display: hidden;
}
.blur {
    display: hidden;
}

.fa-angles-down {
    color: var(--color-red);
    font-size: clamp(2rem, 0.665rem + 5.6958vw, 7.5rem);
    position: absolute;
    bottom: 0.5em;
    text-decoration: none;
}

.fa-angles-down:hover {
    text-shadow: 0px 0px 10px var(--color-red);
}

#astonmartin {
  background-image: url(../Assets/Aston_Martin/AstonMartin_Background.jpg);
}
#audi {
  background-image: url(../Assets/Audi/Audi-background.jpg);
}
#bmw-545e {
  background-image: url(../Assets/BMW/545e/545e_Background.jpg);
}
#m550i {
  background-image: url(../Assets/BMW/M550i/M550i_background.jpg);
}
#m5 {
  background-image: url(../Assets/BMW/M5/M5_Background.jpg);
}
#mercedes {
  background-image: url(../Assets/Mercedes/C43_background.jpg);
}
#porsche {
  background-image: url(../Assets/Porsche/Panamera_Background.jpg);
}
#rangerover {
  background-image: url(../Assets/Rangerover/Velar_background.jpg);
}

.cars {
  height: 100vh;
  width: 100vw;
  border-top: 0.5rem solid var(--color-red);
}

.wrapper {
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 100vw;
  border-bottom: 0.5rem solid var(--color-red);
  /* padding: 5em; */
}

.content-container {
  display: grid;
  grid-template-areas: "image text";
  place-content: center;
  align-items: center;
  gap: 100px;
  width: 100vw;
}

.image {
  grid-area: 'image';
  width: 50vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  justify-content: end;
  align-items: center;
}
.image-container {
  aspect-ratio: 1/1;
  max-width: 740px;

}
.car {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border: 0.5rem solid var(--color-white);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.71);
  /* border-radius: 1em; */

}

.text {
  grid-area: 'text';
  width: 50vw;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  justify-content: start;
  align-items: center;
  
}
.text-content {
  max-width: 690px;
  width: 100%;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0,  0.69);
  /* border-radius: 1em; */
  backdrop-filter: blur(10px);
  /* border: 5px solid var(--color-white); */
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.71);
}
.text-wrapper {
  
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  align-items: center;
  text-align: center;
}
.text-content h2 {
  font-size: 4.5rem;
  margin-bottom: 0.5em;
}
.text-content p {
  font-size: 3.5rem;
}

.more {
  background: linear-gradient(var(--color-red), #A72222);
  font-size: 2.5rem;
  color: var(--color-white);
  padding: 1em 2em;
  text-shadow: 0px 3px 6px #00000029;
  border-radius: 25em;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px #00000080;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.5em;
  transition: outline 0.25s linear;
}
.more:hover {
  outline: 5px solid var(--color-white);
  cursor: pointer;
}




footer {
  height: 15vh;
  text-align: center;
  background-color: var(--color-white);
  overflow: hidden;
  position: relative;
  border-top: 5px solid var(--color-red);
}

.copyright {
  font-size: clamp(1rem, 0.6359rem + 1.5534vw, 2.5rem);
  color: var(--color-black);
}

.triangle {
  position: absolute;
  left: -100px;
  bottom: -700px;
}

.copyright-container {
  width: 33.3vw;
  grid-area: 'copyright';
  text-align: center;
}

.top-container {
  width: 33.3vw;
  grid-area: 'top';
  text-align: right;
  padding-right: 50px;
}

.footer-container {
  display: grid;
  grid-template-areas: "empty copyright top";
  height: 15vh;
  align-items: center;
}

.empty-container {
  grid-area: 'empty';
  width: 33.3vw;
}

.to-top-a {
  color: var(--color-red);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: clamp(1.5rem, 1.0146rem + 2.0712vw, 3.5rem);
}


@media screen and (min-width: 768px) {
  .hero {
    background-image: url('../Assets/Porsche/Panamera_hero.jpg');
  }

.heading {
    font-size: clamp(12.5rem, -8.8333rem + 20vw, 18rem);
    mix-blend-mode: difference;
    font-size: clamp(12.5rem, -8.8333rem + 20vw, 18rem);
}

.heading-2 {
    font-size: clamp(2rem, 0.6893rem + 5.5922vw, 7.4rem);
    line-height: clamp(2rem, 0.6893rem + 5.5922vw, 7.4rem);;
}

.blur-container {
    box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.71);
}
.blur {
    background-color: rgba(0, 0, 0, 0.71);
    padding: 5vw;
    max-width: 60vw;
    min-width: 60vh;
    display: flex;
    justify-content: center;
    align-ITEMS: center;
}

.fa-angles-down {
    color: var(--color-red);
    font-size: clamp(2rem, 0.665rem + 5.6958vw, 7.5rem);
    position: absolute;
    bottom: 0.5em;
    text-decoration: none;
}

.fa-angles-down:hover {
    text-shadow: 0px 0px 10px var(--color-red);
}

#astonmartin {
  background-image: url(../Assets/Aston_Martin/AstonMartin_Background.jpg);
}
#audi {
  background-image: url(../Assets/Audi/Audi-background.jpg);
}
#bmw-545e {
  background-image: url(../Assets/BMW/545e/545e_Background.jpg);
}
#m550i {
  background-image: url(../Assets/BMW/M550i/M550i_background.jpg);
}
#m5 {
  background-image: url(../Assets/BMW/M5/M5_Background.jpg);
}
#mercedes {
  background-image: url(../Assets/Mercedes/C43_background.jpg);
}
#porsche {
  background-image: url(../Assets/Porsche/Panamera_Background.jpg);
}
#rangerover {
  background-image: url(../Assets/Rangerover/Velar_background.jpg);
}

.cars {
  height: 100vh;
  width: 100vw;
  border-top: 0.5rem solid var(--color-red);
  padding: 0 5em;
}

.wrapper {
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 100vw;
  border-bottom: 0.5rem solid var(--color-red);
  /* padding: 0 5em; */
}

.content-container {
  display: grid;
  grid-template-areas: "image text";
  place-content: center;
  align-items: center;
  gap: 100px;
  width: 100vw;
}

.image {
  grid-area: 'image';
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.image-container {
  aspect-ratio: 1/1;
  max-width: 740px;

}
.car {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
  border: 0.5rem solid var(--color-white);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.71);
}

.text {
  grid-area: 'text';
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: start;
  align-items: center;
  
}
.text-content {
  max-width: 690px;
  width: 100%;
  aspect-ratio: 1;
  background-color: rgba(0, 0, 0,  0.69);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.71);
}
.text-wrapper {
  
  width: 100%;
  aspect-ratio: 1;
  display: grid;
  place-content: center;
  align-items: center;
  text-align: center;
}
.text-content h2 {
  font-size: 4.5rem;
  margin-bottom: 0.5em;
}
.text-content p {
  font-size: 3.5rem;
}

.more {
  background: linear-gradient(var(--color-red), #A72222);
  font-size: 2.5rem;
  color: var(--color-white);
  padding: 1em 2em;
  text-shadow: 0px 3px 6px #00000029;
  border-radius: 25em;
  outline: none;
  border: none;
  box-shadow: 0px 0px 10px #00000080;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1.5em;
  transition: outline 0.25s linear;
}
.more:hover {
  outline: 5px solid var(--color-white);
  cursor: pointer;
}

footer {
  height: 15vh;
  text-align: center;
  background-color: var(--color-white);
  overflow: hidden;
  position: relative;
  border-top: 5px solid var(--color-red);
}

.copyright {
  font-size: clamp(1rem, 0.6359rem + 1.5534vw, 2.5rem);
  color: var(--color-black);
}

.triangle {
  position: absolute;
  left: -100px;
  bottom: -700px;
}

.copyright-container {
  width: 33.3vw;
  grid-area: 'copyright';
  text-align: center;
}

.top-container {
  width: 33.3vw;
  grid-area: 'top';
  text-align: right;
  padding-right: 50px;
}

.footer-container {
  display: grid;
  grid-template-areas: "empty copyright top";
  height: 15vh;
  align-items: center;
}

.empty-container {
  grid-area: 'empty';
  width: 33.3vw;
}

.to-top-a {
  color: var(--color-red);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: clamp(1.5rem, 1.0146rem + 2.0712vw, 3.5rem);
}
}
  
