.hero {
    background: url('../Assets/Porsche/Panamera_background.jpg');
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-img {
    display: block;
    z-index: 10;
}

.heading {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: clamp(3.5rem, -0.5049rem + 17.0874vw, 20rem);
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    line-height: clamp(3.5rem, -0.5049rem + 17.0874vw, 20rem);
}



.heading-2 {
    color: var(--color-red);
    font-size: clamp(2rem, 0.6893rem + 5.5922vw, 7.4rem);
    font-weight: 600;
    /* line-height: 7.4rem; */
    line-height: clamp(2rem, 0.6893rem + 5.5922vw, 7.4rem);;
    text-align: center;
}

.blur-container {
    box-shadow: 0px 0px 50px 50px rgba(0,0,0,0.71) ;
    height: 40vh;
    width: 60vw;
}
.blur {
    background-color: rgba(0, 0, 0, 0.71);
    height: 40vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-ITEMS: center;
}

.fa-angles-down {
    color: var(--color-red);
    font-size: clamp(2rem, 0.665rem + 5.6958vw, 7.5rem);
    position: absolute;
    bottom: 0.5em;
    text-decoration: none;
}

.fa-angles-down:hover {
    text-shadow: 0px 0px 10px var(--color-red);
}





.dropbtn {
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    list-style: none
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
