nav {
  height: 10vh;
  position: fixed;
  z-index: 100;
  width: 100vw;
  background: #00000025;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 0.5rem solid var(--color-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  transition: top 0.3s;
}

.nav-menu {
  display: none;
}



.navigation {
  position: fixed;
  background: rgba(0, 0, 0, 0.75);
  top: 125%;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  right: -100vw;
  transition: right, opacity;
  transition-duration: 0.75s;
  border-radius: 2.5em;
  z-index: 100;
  box-shadow: 0px 0px 15px #00000075;
  opacity: 0;
}

.menus {
  display: flex;
  align-items: center; 
  flex-direction: column;
  gap: 20px;
  text-shadow: 2.5px 2.5px 5px black;
}

.menus a{
  line-height: 80px;
  text-decoration: none;
  color: #eee;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: default;
}

.navigation.active {
  right: 0;
  opacity: 1;
}

.navigationHandle {
  z-index: 100;
  font-size: 3.5rem;
  line-height: 100%;
  text-shadow: 5px 2.5px 2.5px #00000050;
  position: absolute;
  right: 10vw;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.fa-bars-staggered {
  transition: 0.2s color ease-in-out;
  color: white;
}

.fa-bars-staggered:hover {
  color: red;
}

.navigation-links li {
  list-style: none;
}
.navigation-links a {
  text-decoration: none;
}

.navigation-links 


.subMenuContainer{
  display : none;
}

.show .subMenuContainer{
  display : grid;
}


.subMenuContainer > li > a {
  color: #c5c5c5;
  font-weight: 300;
  line-height: 1.5em;
}

.navigation-links li a:hover {
  color: red;
}

.show > a.submenu {
  color: #bbb;
}



.subDown::after {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f0d7";
  padding: 0 0.5em;
}



@media (min-width: 768px) {
  .navigationHandle {
      display: none;
  }

  .nav-link {
    /* font-size: clamp(1rem, 0.466rem + 2.2783vw, 3.2rem); */
    font-size: clamp(1rem, -0.3333rem + 2.7778vw, 3rem);
    /* font-size: clamp(2rem, -0.13333rem + 1.3889vw, 3rem); */
    color: var(--color-white);
    list-style: none;
    display: flex;
    font-weight: 300;
    /* overflow: hidden; */
  }
  
  .nav-a {
    text-decoration: none;
    color: inherit;
  }
  .nav-a:hover {
    text-shadow: 0px 0px 10px var(--color-white);
  }
  .nav-gallery:hover {
    text-shadow: 0px 0px 10px var(--color-red);
  }
  
  .nav-gallery {
    color: var(--color-red);
    font-weight: 800;
  }
  
  
  
  .nav-menu {
    display: flex;
    gap: 2.5vw;
  }
  
  
  .dropbtn {
    border: none;
    cursor: pointer;
    list-style: none
  }
    
  .dropdown {
    position: relative;
    display: inline-block;
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    padding-top: 2em;
    min-width: 160px;
    z-index: 1;
  }
    
  .dropdown-content a {
    padding: 0.05em 0;
    font-size: clamp(1rem, 0.6359rem + 1.5534vw, 2.5rem);
    text-decoration: none;
    display: block;
    color: var(--color-white);
  }
  
  .dropdown-content a:hover {
    text-shadow: 0px 0px 10px var(--color-white);
  }
    
  .dropdown:hover .dropdown-content {
    display: block;
    list-style: none;
  }
}