nav {
    /* background-color: var(--color-red); */
    height: 10vh;
    position: fixed;
    z-index: 90;
    width: 100vw;
    background: #00000025;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 0.5rem solid var(--color-red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-size: clamp(1rem, 0.466rem + 2.2783vw, 3.2rem);
    color: var(--color-white);
    list-style: none;
    display: flex;
    font-weight: 300;
}

.nav-a {
    text-decoration: none;
    color: inherit;
}
.nav-a:hover {
    text-shadow: 0px 0px 10px var(--color-white);
}
.nav-gallery:hover {
    text-shadow: 0px 0px 10px var(--color-red);
}

.nav-link:last-of-type {
    color: var(--color-red);
    font-weight: 800;
}

.nav-menu {
    display: flex;
    gap: 3.15em;
}